<div class="rules">
  <h1>The rules</h1>
  <p>
    {@emojis}
  </p>
  <ol>
    <li :for={rule <- @rules}>
      <a href={~p"/rules/#{rule.id}"}>
        {rule.text}
      </a>
    </li>
  </ol>
</div>
